{% extends "app/index.html" %}
{% block content %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'details' %}">Details</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">alexa_rank</th>
        <th scope="col">url</th>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
      </tr>
    </thead>
    <tbody>

      {% for web in websites %}
      <tr>
        <th scope="row">{{web.alexa_rank}}</th>
        <td>{{web.url}}</td>
        <td><a href="{{web.id}}">{{web.title}}</a></td>
        <td>{{web.category}}</td>
      </tr>
      {% endfor %}


    </tbody>
  </table>

  
{% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for i in page_obj.paginator.page_range %}
        {% if page_obj.number == i %}
            <li class="page-item"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}

{% endblock %}